* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  background-color: #F4F7FE; /* Le gris clair du fond de ton image */
  color: #1E293B;
}