:root {
  /* Palette DBAU */
  --color-primary: #15803d;      /* Le vert officiel de ton QR Code */
  --color-primary-dark: #064e3b; /* Vert foncé pour le survol */
  --color-bg: #F8FAFC;          /* Fond très clair */
  --color-sidebar: #0B1437;     /* Bleu nuit profond */
  --color-text: #1E293B;        /* Gris foncé */
  --color-white: #FFFFFF;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
}